body{
    text-align: center;
}

.image-slider{
    position: relative;
}

.image-slider img{
    object-fit: cover;
    object-position: top;
    width: 100%;
}

.slider-button{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.slider-button button{
    top: 80%;
    cursor: pointer;
    padding: 6px;
    font-size: 22px;
    font-weight: 100;
    color: white;
}

@media screen and (max-width: 500px) {
  .slider-button{
      display: none;
  }
}


.items-container{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  /* height: 100vh; */
}

.left-container{ 
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 49%;
    border-radius: 8px;
    padding: 10px;
    background-color: #e9e2e2;
}
.left-container img{
    height: 80%;
    border-radius: 8px;
}
.right-container{ 
    
    width: 49%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 10px; */
}
.right-container .items{
    padding: 10px;
    border-radius: 8px;
    width: 48%;
    background-color: #f1f1f1; 
    height: 49%;
}
.right-container .items img{
    height: 80%;
    border-radius: 8px;
    width: 100%;
}

@media screen and (max-width: 800px) {
   .items-container{
        flex-direction: column;
        gap: 10px;
   }

   .left-container, .right-container{
      width: 100%;
      gap: 10px;
   }

   .right-container .items{
      height: 250px;

   }
}

@media screen and (max-width: 600px){
  .right-container .items h1{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
}

@media screen and (max-width: 450px) {
  ul{
      flex-wrap: wrap;
  }
  .items-container{
       flex-direction: column;
       gap: 10px;
  }

  .left-container, .right-container{
     width: 100%;
     gap: 10px;
  }

  .right-container .items{
     height: 250px;
     
  }

  .items h1, p{
    font-size: 12px;
  }
}




/* Container for the cards */
.card-container {
  padding: 20px;
  background-color: rgb(18 19 20);
  color: white;
}

.card-heading{
    text-align: center;
    padding: 20px;
    font-size: 32px;
    font-weight: 100;
}

.btn{
    background-color: #1d1e21;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
}

.btn button{
  font-size: 13px;
  transition: all 0.5s ease-in-out;
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 20px;
}

.selected {
  background-color: #fff;
  color: black;
}

.cards{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.3s ease;
}

.cards .card{
    width: 16%;
    text-overflow: ellipsis;
    transition: all ease-in-out 0.8s;
}

.card img{
    border-radius: 8px;
    height: 200px;
    width: 100%;
    background-size: contain;
}

.card p{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    font-size: 12px;
    margin-top: 2px;
}

.hovered {
  transform: scale(1.03)
}

.not-hovered {
  background-color: aqua; /* Style for non-hovered cards */
  opacity: 0.5;
}


.cards{
  /* background-color: salmon; */
}
.items{
    padding: 0px;
    width: 16%;
    text-align: left;
    margin: 10px 0;
}

.items img{
    border-radius: 8px;
    height: 92%;
}

.items p{
    text-align: left;
    font-size: 14px;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 800px){
    .items{
        width: 30%;
    }
}

@media screen and (max-width: 450px){
  .items{
      width: 48%;
  }
}